
    button{
        vertical-align: top;
    }
    .sub
    {
        background-color: rgb(200, 0, 0);
        color: white;
        border: none;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 2px;
        cursor: pointer;
        margin: 8px;
        transition: opacity 0.15s;
    }

    .sub:hover
    {
        opacity: 0.8;
    }

    .sub:active
    {
        opacity:0.4;
    }




    .join
    {
        background-color: white;
        color:  rgb(6, 95, 212);
        border-color: rgb(6, 95, 212);
        border-width: 1px;
        border-style:solid;
        border-radius: 2px;
        cursor: pointer;
        margin: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 15px;
        padding-right: 15px;
        transition: background-color 0.15s,color 0.15s;
    }

    .join:hover
    {
        background-color: rgb(6, 95, 212);
        color:  white;
    }

    .join:active{
        opacity: 0.7;
    }



    .tweet
    {
        background-color: rgb(29, 155, 240);
        color: white;
        border: none;
        width: 74px;
        height: 35px;
        border-radius: 18px;
        margin: 8px;
        cursor: pointer;
        font-weight:bold;
        font-size: 15px;
        margin: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 15px;
        padding-right: 15px;
        transition: box-shadow 0.15s;
        
    }

    .tweet:hover {
        box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.35);
    }
