p {
    font-family: Roboto;
}
.video-title {
    font-size: 18px;
    font-weight: bold;
    text-align:left;
    margin-bottom: 2px;
    line-height: 24px;
    width:300px
    }

.vstats {
    font-size: 14px;
    text-align:left;
    margin-top: 0;
    margin-bottom: 16px;
    width:300px;
    color: rgb(96, 96, 96);
}

.author {
    font-size: 14px;
    text-align:left;
    margin-top: 0;
    margin-bottom: 16px;
    width:300px;
    color: rgb(96, 96, 96);
}

.vdesc {
    font-size: 12px;
    text-align:left;
    margin-top: 0;
    margin-bottom: 16px;
    width:300px;
    color: black;
    width:280px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5px;
    border-radius: 8px;
    margin-left: 0px;
    cursor: pointer;
   
}
